.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
}

#quote-box {
  background-color: #f0f0f0;
  color: #232425;
  padding: 0 1.5rem 1rem 1.5rem;
  margin: 4rem 1rem;
  width: 40rem;
  height: auto;
}

.hue {
  color: #639;
}

.title {
  color: #f0f0f0;
  background-color: #639;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

.button {
  color: #f0f0f0;
  background-color: #639;
  padding: 0.5rem;
  border: 0.2rem solid #639;
  border-radius: 6%;
  cursor: pointer;
}

.button-group {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
